.footer {
  background-color: #e1e1e1;
  padding: 80px 0 40px 0;
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
a.footerItem {
  width: 15%;
}
a.footerItem:hover > img {
  animation: flip-in-ver-left 1s linear 0s 1 normal none;
}
@keyframes flip-in-ver-left {
  0% {
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}
/* a.footerItem > img  {
    width: 100%;
    height: auto;
} */
div.footerItem:nth-child(2) {
  width: 40%;
}
div.footerItem:nth-child(3) {
  width: 20%;
}
div.footerItem:nth-child(4) {
  width: 25%;
}
.footerItemDesc {
  color: #5b6b7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.54px;
  margin-bottom: 15px;
}
.footerSocialList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footerSocialList > li {
  margin: 0 5px;
}
/* .footerSocialList > li:first-child {
  margin-left: 0px;
} */
.footerSocialList > li > a {
  width: 33px;
  height: 33px;
  display: block;
}
.footerSocialList > li > a:hover {
  animation: bounce-top 1s linear 0s 1 normal none;
}
@keyframes bounce-top {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-24px);
  }
  55% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-12px);
  }
  75% {
    transform: translateY(0);
  }
  82% {
    transform: translateY(-6px);
  }
  87% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.footerSocialList > li > a > img {
  width: 100%;
  height: 100%;
}
.footerItemTitle {
  color: #6d6d6d;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.footerItemTitle:hover {
  color: #ce0909;
}
.footerLinks > li > a {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  padding: 5px 0;
  transition: color 0.5s, margin-left 0.5s;
  -webkit-transition: color 0.5s, margin-left 0.5s;
  -moz-transition: color 0.5s, margin-left 0.5s;
  -ms-transition: color 0.5s, margin-left 0.5s;
  -o-transition: color 0.5s, margin-left 0.5s;
}
.footerLinks > li > a:hover {
  color: #ce0909;
  margin-left: 7px;
}
.footerLocation > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.footerLocation > li > p {
  color: #494949;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 7px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.footerLocation > li:hover > p {
  color: #ce0909;
}
.footer > hr {
  margin: 50px 0 35px 0;
  background-color: #9a9a9a;
  height: 0.5px;
  opacity: 0.5;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright > p {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.copyrightListAr,
.copyrightList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.copyrightListAr > li,
.copyrightList > li {
  /* margin-right: 10px; */
  padding: 0px 20px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
.copyrightList > li:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 1px solid #6d6d6d;
}
.copyrightListAr > li:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #6d6d6d;
}
@media screen and (max-width: 1023px) {
  .footerContent {
    gap: 20px;
  }
  a.footerItem {
    width: 15%;
  }
  a.footerItem > img {
    width: 100%;
    height: auto;
  }
  .footerItemDesc {
    font-size: 16px;
  }
  .footerItemDesc > br {
    display: none;
  }
  div.footerItem:nth-child(2) {
    width: 35%;
  }
  div.footerItem:nth-child(3) {
    width: 15%;
  }
  div.footerItem:nth-child(4) {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 80px 10px 40px 10px;
  }
  .footerContent {
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
  }
  div.footerItem:nth-child(2),
  div.footerItem:nth-child(3),
  div.footerItem:nth-child(4) {
    width: 100%;
    margin-bottom: 15px;
  }
  a.footerItem > img {
    width: 130px;
    height: auto;
  }
  .footerItemTitle {
    margin-bottom: 7px;
  }
  .copyright {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .copyright > p {
    margin-bottom: 15px;
  }
  .copyrightList > li:first-child {
    padding: 0 20px 0 0;
  }
  .copyrightListAr > li:first-child {
    padding: 0 0px 0 20px;
  }
}
@media screen and (max-width: 400px) {
  .copyrightList,
  .copyrightListAr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .copyrightList > li {
    padding: 0 20px 0 0;
    margin-bottom: 7px;
  }
  .copyrightListAr > li {
    padding: 0 0px 0 20px;
    margin-bottom: 7px;
  }
  .copyrightListAr > li:first-child::after,
  .copyrightList > li:first-child::after {
    content: none;
  }
}
