.solution {
  padding: 60px 5px;
}
.solutionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 135px;
}
.solutionLeft,
.solutionLeftAr {
  width: 42%;
  position: relative;
}
.solutionImg {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
.solutionImg > img {
  width: 100%;
  /* height: 480px; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.solutionImg:hover > img {
  transform: scale(1.2) rotate(7deg);
  -webkit-transform: scale(1.2) rotate(7deg);
  -moz-transform: scale(1.2) rotate(7deg);
  -ms-transform: scale(1.2) rotate(7deg);
  -o-transform: scale(1.2) rotate(7deg);
}
.solutionLeftDesc {
  color: #ffffff;
  background-color: #111111;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #111111;
  line-height: 36px;
  width: 242px;
  height: 157px;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  bottom: 55px;
  right: -100px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, border 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -o-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, border 0.5s;
}
.solutionLeftDescAr {
  color: #ffffff;
  background-color: #111111;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #111111;
  line-height: 36px;
  width: 242px;
  height: 157px;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  bottom: 55px;
  right: 280px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, border 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s,
    border 0.5s;
  -o-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, border 0.5s;
}
.solutionImg:hover + .solutionLeftDescAr,
.solutionLeftDescAr:hover,
.solutionImg:hover + .solutionLeftDesc,
.solutionLeftDesc:hover {
  background-color: #ffffff;
  color: #111111;
  /* box-shadow: 0px 0px 15px 0px #ce0909 inset; */
}
.solutionRight {
  width: 58%;
}
.solutionRightTitle {
  line-height: 48px;
  font-size: 40px;
  font-weight: 500;
  color: #363636;
  margin-bottom: 20px;
}
.solutionRightDesc {
  color: #606060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 28px;
}
.solutionRightDesc:nth-of-type(2) {
  margin-bottom: 25px;
}
.solutionRightDesc:nth-of-type(3) {
  font-size: 16px;
}
.solutionRightInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 15px;
  margin-bottom: 25px;
}
.solutionRightInfo > li {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.solutionRightInfo > li > img {
  margin: 0 10px;
}
.solutionRightInfo > li > span {
  color: #2f405e;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 1350px) {
  .solutionContent {
    gap: 100px;
  }
  .solutionImg > img {
    width: 100%;
    height: 480px;
  }
  .solutionLeftDesc {
    font-size: 20px;
    line-height: 30px;
    width: 210px;
    height: 145px;
    bottom: 50px;
    right: -60px;
  }
  .solutionLeftDescAr {
    font-size: 20px;
    line-height: 30px;
    width: 210px;
    height: 145px;
    bottom: 50px;
    right: 225px;
  }
  .solutionRightTitle {
    line-height: 40px;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .solutionRightDesc {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
  }
  .solutionRightDesc > br {
    display: none;
  }
  .solutionRightDesc:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .solutionRightDesc:nth-of-type(3) {
    font-size: 14px;
  }
  .solutionRightInfo {
    margin-bottom: 15px;
  }
  .solutionRightInfo > li > span {
    color: #2f405e;
    font-size: 15px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1023px) {
  .solutionContent {
    gap: 80px;
  }
  .solutionImg > img {
    height: 440px;
  }
  .solutionLeftDesc {
    font-size: 18px;
    line-height: 26px;
    width: 190px;
    height: 125px;
  }
  .solutionLeftDescAr {
    font-size: 18px;
    line-height: 26px;
    width: 190px;
    height: 125px;
    right: 140px;
  }
  .solutionRightTitle {
    line-height: 33px;
    font-size: 28px;
  }
  .solutionRightDesc {
    font-size: 14px;
    line-height: 22px;
  }
  .solutionRightDesc:nth-of-type(3) {
    font-size: 12px;
  }
  .solutionRightInfo > li > span {
    color: #2f405e;
    font-size: 12px;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .solutionContent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }
  .solutionLeft,
  .solutionLeftAr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .solutionImg {
    width: 250px;
    height: 350px;
  }
  .solutionLeftDesc {
    padding: 20px 10px;
    font-size: 16px;
    line-height: 22px;
    width: 150px;
    height: auto;
    bottom: 15%;
    left: 55%;
  }
  .solutionLeftDescAr {
    padding: 20px 10px;
    font-size: 16px;
    line-height: 22px;
    width: 150px;
    height: auto;
    bottom: 15%;
    right: 55%;
  }
  .solutionRight {
    width: 100%;
  }
  .solutionRightTitle > br {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .solutionLeftDesc {
    left: 30%;
  }
  .solutionLeftDescAr {
    right: 30%;
  }
  .solutionLeft {
    justify-content: flex-start;
  }
  .solutionLeftAr {
    justify-content: flex-end;
  }
  .solutionImg {
    width: 210px;
    /* height: 300px; */
  }
  .solutionImg:hover > img {
    transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
  }
  .solutionRightTitle {
    line-height: 30px;
    font-size: 22px;
  }
  .solutionRightInfo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .solutionRightInfo > li {
    width: 195px;
  }
}
@media screen and (max-width: 320px) {
  .solutionRightTitle {
    line-height: 28px;
    font-size: 20px;
  }
  .solutionLeftDesc {
    left: 37%;
  }
  .solutionLeftDescAr {
    right: 0%;
  }
  /* .solutionImg {
    width: 100%;
    height: 350px;
  } */
}
