.aboutUs {
  padding: 60px 0;
}
.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.aboutUsLeft {
  width: 55%;
}
.aboutSubTitle {
  color: #ce0909;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.aboutTitle {
  color: #011222;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 12px;
  transition: all 0.5s ease;
}
.aboutTitle:hover {
  color: transparent;
  -webkit-text-stroke: 2px #011222;
}
.aboutTitle + img {
  margin-bottom: 10px;
}
.aboutdesc {
  color: #5b6b7a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.aboutInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}
.aboutInfoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.aboutInfoItem:hover > img {
  animation: scale-in-hor-left 0.5s linear 0s 1 normal none;
  -webkit-animation: scale-in-hor-left 0.5s linear 0s 1 normal none;
}
@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.aboutInfoTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 12px;
}
.aboutInfoItem:first-child .aboutInfoTitle {
  color: #ce0909;
}
.aboutInfoItem:last-child .aboutInfoTitle {
  color: #2e3e4e;
}
.aboutUsRight {
  width: 45%;
  text-align: right;
  /* max-width: 465px; */
  /* max-height: 415px; */
}
.aboutUsRightAr {
  width: 45%;
  text-align: left;
}
.aboutUsRightAr:hover > img,
.aboutUsRight:hover > img {
  animation: wave 1s ease-in-out infinite;
  -webkit-animation: wave 1s ease-in-out infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1115px) {
  .aboutSubTitle {
    font-size: 18px;
  }
  .aboutTitle {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutdesc {
    font-size: 14px;
  }
  .aboutdesc > br {
    display: none;
  }
  .aboutInfoTitle {
    font-size: 16px;
    margin-left: 15px;
  }
  .aboutUsRightAr > img,
  .aboutUsRight > img {
    width: 320px;
    height: 300px;
    object-fit: contain;
  }
}
@media screen and (max-width: 1023px) {
  .aboutUs {
    padding: 60px 10px;
  }
  .aboutTitle br {
    display: none;
  }
  .aboutTitle {
    font-size: 33px;
    line-height: 40px;
  }
  .aboutInfo {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .aboutContent {
    gap: 20px;
  }
  .aboutUsLeft {
    width: 100%;
    /* text-align: center; */
  }
  .aboutInfo {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    gap: 50px;
    margin-top: 25px;
  }
  .aboutTitle {
    font-size: 30px;
    line-height: 42px;
  }
  .aboutUsRightAr,
  .aboutUsRight {
    width: 100%;
    text-align: center;
  }
  .aboutUsRightAr > img,
  .aboutUsRight > img {
    width: 280px;
    height: 250px;
  }
}
@media (max-width: 551px) {
  .aboutSubTitle {
    font-size: 16px;
  }
  .aboutTitle {
    font-size: 28px;
    line-height: 40px;
  }
  .aboutInfo {
    flex-wrap: wrap;
    gap: 20px;
  }
  .aboutInfoItem {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .aboutTitle {
    font-size: 23px;
    line-height: 33px;
  }
  .aboutUsRightAr > img,
  .aboutUsRight > img {
    width: 240px;
    height: 200px;
  }
}
@media (max-width: 330px) {
  .aboutTitle {
    font-size: 20px;
    line-height: 30px;
  }
  .aboutUsRightAr > img,
  .aboutUsRight > img {
    width: 220px;
    height: 190px;
  }
}
